.contactFormContainer {
  background-color: rgb(232, 228, 228);
  height: 68vh;
  width: 500px;
  display: inline-block;
}
.contactUsPicture1 {
  width: 50%;
  object-fit: cover;
  height: 302px;
}
.contactUsPicture2 {
  width: 50%;
  object-fit: cover;
  height: 302px;
}
.whiteBackground {
  background-color: white;
  margin: auto;
  width: 80%;
}
.contactSubmitButton {
  background-color: gray;
  height: 50px;
  width: 100px;
  color: white;
  margin: auto;
  margin-top: 20px;
}
