.contactUsImageContainer {
  padding-top: 79.5px;
}
.contactUsPicture1 {
  width: 50%;
  object-fit: cover;
  height: 302px;
}
.contactUsPicture2 {
  width: 50%;
  object-fit: cover;
  height: 302px;
  filter: grayscale(50%);
}
.whiteBackground {
  background-color: white;
  margin: auto;
  width: 80%;
  height: 150vh;
}
.contactSubmitButton {
  background-color: gray;
  height: 50px;
  width: 100px;
  color: white;
  margin: auto;
  margin-top: 20px;
}

.contactFormContainer {
  background-color: rgb(232, 228, 228);
  height: 80vh;
  width: 30vw;
  display: inline-block;
  margin-right: 5%;
  text-align: left;
  padding-left: 2vw;
  line-height: 1.8;
}

.contactInformationContainer {
  background-color: rgb(232, 228, 228);
  width: 30vw;
  height: 80vh;
  display: inline-block;
  vertical-align: top;
  margin-left: 5%;
  text-align: left;
  padding-left: 2vw;
  line-height: 1.8;
}
