.footerContainer {
  background-color: white;
  margin: auto;
  height: 40vh;
  margin-top: 10px;
  width: 80vw;
}

.footersections {
  display: inline-block;
  margin-left: 20px;
  background-color: gray;
  height: 35vh;
  vertical-align: top;
  text-align: left;
}

.iconBorderBottom {
  border-bottom: 7px solid rgb(228, 57, 57);
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.descriptions,
.title {
  line-height: 2;
  color: white;
}
