.company_logo {
  height: 90px;
  width: auto;
}

.navMenu {
  overflow: hidden;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin: 10px 0px 0px 0px;
  border-color: rgb(150, 147, 147);
  font-family: Didot, serif;
  background-color: black;
}

.navMenuListItem {
  display: inline-block;
}
.navMenu a {
  float: none;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: white;
}

.navMenu a:hover {
  color: grey;
}
