.company_logo {
  height: 45px;
  width: auto;
}

.navMenu {
  overflow: hidden;
  border-top: 1px solid;
  margin: 0px;
  font-family: Didot, serif;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navMenuListItem {
  display: inline-block;
  vertical-align: center;
}
.navMenu a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: white;
}

.navMenu a:hover {
  color: grey;
}
